*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 300px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgb(230, 230, 230);
    font-family: Helvetica;

}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.content1{
  grid-area: content1;
}

.content2{
  grid-area: content2;
}

.wrapper{
  display: grid;
grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-areas:
      "....... content1 content1"
                    "....... content2 content2"
}
.container{
    width: 70%;
    height: auto;
    margin: auto;
    display: fixed;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    background: rgb(100, 100, 100);

}
.container p{
        margin: 30px;
        padding: 30px ;
        color: rgb(255,255,255);
}
.container h2{
        text-align: center;
        margin: 30px;
        padding: 30px ;
        color: rgb(255,255,255);
}
.img{
  display: block;
  width: 950px;
  height: 500px;
}
/* styles the entire div element */
.navbar
{
    font-family: Helvetica;
    padding: 40px;
    text-align: center;
    background: rgb(100, 100, 100);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/* styles the links */
.navbar a
{
    color: white;
    text-decoration: none;
    font: 20px Helvetica;
    margin: 0px 10px;
    padding: 14px 16px; /* space between elements */

}
/* when hovering */
.navbar a:hover {
    background-color: black;
}
/* when clicking link */
.navbar a:active {
    background-color: white;
    color: darkgoldenrod;
}


.logo h1{
    font-family: Courier;
    padding: 10px;
    margin: 0px 10px;
    text-align: left;
    color: white;
    width: auto;
    height: auto;
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1000;

  }
  .heading {
    align-content: center;
  }
  .heading a{
    color: white;
    color: white;
    text-decoration: none;
    font: 20px arial;


  }
li{
    display: inline;
}
